body {
    background-image:url(img/bg.webp);
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
          
h1 {text-align: center;background-color:none;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color:darkgreen;
}

ul li {
  float: left;
  min-width: 25%;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {background-color:black;}

h4 span {text-align:left;background-color: brown;padding-bottom: 5px;}

h2 span {background-color: aqua; padding: 5px 5px;}

footer {text-align: center;background-color: blueviolet;}

.footerdate {display: inline-block;}

.quickform {
  border-radius: 4px;
  border: 2px solid #04AA6D;;
  background-color:  #f2f2f2;
  padding: 20px;
}

label {
  margin-bottom: 5px;
  display: inline-block;
}

input[type=text], select {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
  width: 92%;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

